{% extends "base.html" %}
{% block title %}K8S PubSub+ HA deployment over GCP{% endblock %}

{% block content %}
<form action="#" method="POST">
    <p>Action: </p>
    <p><input type="radio" name="action" id="create-deploy" value="create-deploy"><label for="deploy">Cluster Creation/HA Deploy</label></p>
    <p><input type="radio" name="action" id="undeploy-destroy" value="undeploy-destroy"><label for="undeploy">HA Undeploy/Cluster Destroy</label></p>
    <p>Configurations: </p>
    <p>Cluster Name: <input type="text" name="clustername" /></p>
    <p>Admin Password: <input type="text" name="adminpw" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
{% endblock %}
